---
import Layout from "@/layouts/Layout.astro";
import { turdb } from "db/turso";
const {rows} = await turdb.execute("select * from User");

// console.log(rows);

---
<Layout title="servicios">

    <ul class="flex flex-col text-white font-mono text-4xl">
        {rows.map((post) => (
            <li class="text-center">Identificador: {post.id}</li>
            <li class="text-center">Nombre: {post.username}</li>
            <li class="text-center">Admin?: {post.isAdmin}</li>
            <li class="text-center">Passwod: {post.password}</li>
        ))}
    </ul>
</Layout>
db/turso