---
import type { Linkservice } from "@/data/layout/links";
import { linksServices } from "@/data/layout/links";
import Linkse from "@/components/Linkse.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import IcoDoubleCheck from "@/utilities/icons/icoDoubleCheck.astro";
import IcoScrewDriver from "@/utilities/icons/icoScrewDriver.astro";
import IcoHumanFixer from "@/utilities/icons/icoHumanFixer.astro";
// import srcImage from "../utilities/img/macbookimg.png"


const imgServiciosm = {
    imagenWatch: "https://i.imgur.com/MWqBcoZ.png",
    altimagenWatch: "imagenes de relojes apple watch edicion finales del 2023",
    imagenIpads: "https://i.imgur.com/qp7cVtL.png",
    altimageIpads: "imagenes de ipads 2024 - 2025",
    imagenImac: "https://i.imgur.com/9CkA3Td.png",
    altimageImac: "imagenes de imac 2024 - 2025",
    imagenIphone: "https://i.imgur.com/PH2qZ3V.png",
    altIphone: "imagenes de iphones 2024 - 2025",
    imagenMacbook: "https://i.imgur.com/4oYiCkZ.png",
    altimagenMacbook: "imagenes de macbook 2023",
    imagenMagsafe: 'https://i.imgur.com/CrJ07C2.png',
    altMagsafe: 'imagenes de magsafe cargador macbook',
}

const seoData = {
  title: "Servicios de Reparación Appl/Android - OnthePointService Servicio Tecnico en Argentina",
  description: "Servicio técnico especializado en iPhone, iPad, MacBook, iMac, Apple Watch y MagSafe. Diagnóstico sin costo y garantía de 90 días.",
  keywords: "reparación Apple, servicio técnico iPhone, reparación MacBook, mantenimiento Apple, onthepointservice Argentina, diagnóstico gratis Apple",
  image: "https://i.imgur.com/jLmt4Sc.png?format=webp", 
  user: Astro.locals.user,
  url: "https://onthepointservice.com/serviciosm"
};


---


<Layout {...seoData}>
    <div class="flex flex-col gap-8 sections">
        
        <section id="brand_principal_title" class="relative section origin-center ">
           
                <div class="imagen-p bg-imagen-p">
                   
                </div>
                <div class="absolute inset-0 flex flex-col items-center justify-center md:items-start md:left-16">
                    <h1 class="text-4xl md:text-5xl font-apple font-bold text-mainbrand-light text-center mb-4 break-words whitespace-normal  ">Diagnosticos al instante!</h1>
                    <p class="text-mainbrand-light dark:text-mainbrand-light font-apple font-bold text-lg">Sin costo</p>
                    <p class="text-mainbrand-light dark:text-mainbrand-light font-apple font-bold text-lg">Garantizados por 90 días.</p>
                    <p class="text-mainbrand-light dark:text-mainbrand-light font-apple font-bold text-lg">Experiencia de más de 5 años en el sector</p>
                    <a href="/servicedescription" class="text-sky-700 text-xl underline font-bold font-apple">Ver servicios</a>
                </div>    
            
        </section>
        
        <section id="brand-image-helper" class="block place-items-center section">
            <div class="flex flex-col md:flex-row items-center justify-center gap-y-8">
                <Icon class="scroll-indicator text-4xl " name="lucide:arrow-up-down"></Icon>
            </div>
        </section>

        <section id="question_basic_problems" class=" flex flex-col md:flex-row items-center section">
            <div class="sectionquest bg-custom-gradientwithimage flex flex-col justify-center items-center gap-y-3 w-full h-full rounded-2xl py-4 overflow-hidden md:p-8">
                <h1 class="text-3xl md:text-5xl text-mainbrand-light dark:text-mainbrand-light font-apple font-bold text-center">Reparamos Tu Telefono al Momento</h1>
                <div class="flex flex-col md:flex-row items-center gap-y-8 object-cover">
                    <div class="animate-spin-scale hover:animate-none">
                        <IcoHumanFixer className="w-12 h-12 md:w-20 md:h-20"/>
                    </div>
                    <div class="w-full md:w-1/2 flex items-center justify-center">
                        <Image class=" h-40 sm:h-40 md:h-96 object-contain rounded-lg" width={480} height={270} decoding="async" loading="lazy" src="https://i.imgur.com/iYtVSQG.png" alt="imagen iphonex roto" format="avif" quality={"mid"} densities={[1.5, 2]}/>
                    </div>
                        <IcoScrewDriver className="w-12 h-12 md:w-20 md:h-20"/>
                        <Image class="h-40 sm:h-40 md:h-96 object-contain rounded-lg" width={480} height={270} decoding="async" loading="lazy" src="https://i.imgur.com/ag9L3xJ.png"  alt="imagen iphone xsmax reparado" format="avif" quality={"mid"} densities={[1.5, 2]} />
                    <div class="animate-spin-scale">      
                        <IcoDoubleCheck className="w-12 h-12 md:w-20 md:h-20"/>
                    </div>
                </div>
    
                <div class="grid grid-cols-2 md:grid-flow-col-2 md:grid-cols-4 place-items-center gap-16 md:gap-32 filter font-apple">
                {linksServices.map((link: Linkservice) => <Linkse {...link} />)}
                </div>
    
            </div>
        </section>
    
        <section id="technical_services" class="bg-gray-esp1 py-12 rounded-2xl section block origin-top">
            <div class="container mx-auto px-10">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8 ">
                    <div class="bg-white rounded-lg drop-shadow-lg overflow-hidden hover:scale-custom2 transition-transform duration-300 ">
                        <div class="flex flex-col lg:flex-row md:h-auto items-center">

                            <div class="w-full flex items-center justify-center">
                                <div class="aspect-[4/3]  w-full">
                                    <Image
                                    src={imgServiciosm.imagenIphone}
                                    alt={imgServiciosm.altIphone}
                                    width={400} height={300}
                                    class="w-full h-full object-contain p-4"
                                    />
                                </div>
                            </div>

                            <div class="w-full p-6 flex flex-col items-center text-center md:justify-center md:items-start md:text-left">
                                <p class="text-xl font-apple font-semibold text-blackep mb-2 ">Apple IPhone</p>
                                <p class="text-gray-700 font-sans font-medium mb-4">Servicio tecnico para tu IPhone</p>
                                <a href="/serviceiphone" class="font-montserrat font-bold text-sky-600 hover:text-sky-700 ">Mas información</a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded-lg drop-shadow-lg overflow-hidden hover:scale-custom2 transition-transform duration-300 ">
                        <div class="flex flex-col lg:flex-row md:h-auto items-center">
                            
                            <div class="w-full flex items-center justify-center">
                                <div class="aspect-[4/3]  w-full">
                                    <Image
                                    src= {imgServiciosm.imagenWatch}
                                    alt= {imgServiciosm.altimagenWatch}
                                    width={400} height={300}
                                    class="w-full h-full object-contain p-4"
                                    />
                                </div>
                            </div>
                            <div class="w-full p-6 flex flex-col items-center text-center md:justify-center md:items-start md:text-left">
                                <p class="text-xl font-apple font-semibold text-blackep mb-2 ">Apple Watch</p>
                                <p class="text-gray-700 font-sans font-medium mb-4">Servicio tecnico para tu Watch Series</p>
                                <a href="/servicewatch" class="font-montserrat font-bold text-sky-600 hover:text-sky-700">Mas información</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="bg-white rounded-lg drop-shadow-lg overflow-hidden hover:scale-custom2 transition-transform duration-300">
                        <div class="flex flex-col lg:flex-row md:h-auto items-center">

                            <div class="w-full flex items-center justify-center">
                                <div class="aspect-[4/3] w-full">    
                                    <Image
                                    src= {imgServiciosm.imagenIpads}
                                    alt= {imgServiciosm.altimageIpads}
                                    width={400} height={300}
                                    class="w-full h-full object-contain p-4"
                                    />
                                </div>
                            </div>
                            <div class="w-full p-6 flex flex-col items-center text-center md:justify-center md:items-start md:text-left">
                                <p class="text-xl font-apple font-semibold text-blackep mb-2">Apple IPad</p>
                                <p class="text-gray-700 font-sans font-medium mb-4">Servicio tecnico <br>para tus <br>IPads Pro, Air, Mini</p>
                                <a href="/serviceipad" class="font-montserrat font-bold text-sky-600 hover:text-sky-700">Mas información</a>
                            </div>
                        </div>
                   
                </div>
                    <div class="bg-white rounded-lg drop-shadow-lg overflow-hidden hover:scale-custom2 transition-transform duration-300">
                        <div class="flex flex-col lg:flex-row md:h-auto items-center">

                            <div class="w-full flex items-center justify-center">
                                <div class="aspect-[4/3] w-full">
                                    <Image
                                    src= {imgServiciosm.imagenMacbook}
                                    alt= {imgServiciosm.altimagenMacbook}
                                    width={400} height={300}
                                    class="w-full h-full object-contain p-4"
                                    />
                                </div>
                            </div>
                            <div class="w-full p-6 flex flex-col items-center text-center md:justify-center md:items-start md:text-left">
                                <p class="text-xl font-apple font-semibold text-blackep mb-2">Apple MacBook</p>
                                <p class="text-gray-700 font-sans font-medium mb-4">Servicio tecnico para tu Macbook o Macbook Pro Series</p>
                                <a href="/servicemac" class="font-montserrat font-bold text-sky-600 hover:text-sky-700">Mas información</a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded-lg drop-shadow-lg overflow-hidden hover:scale-custom2 transition-transform duration-300">
                        <div class="flex flex-col lg:flex-row md:h-auto items-center">
                           
                             <div class="w-full flex items-center justify-center">
                                <div class="aspect-[4/3] w-full">
                                    <Image
                                    src={imgServiciosm.imagenImac}
                                    alt={imgServiciosm.altimageImac}
                                    width={400} height={300}
                                    class="w-full h-full object-contain"
                                    />
                                </div>
                            </div>
              
                            <div class="w-full p-6 flex flex-col items-center text-center md:justify-center md:items-start md:text-left">
                                <p class="text-xl font-apple font-semibold text-blackep mb-2">Apple IMac</p>
                                <p class="text-gray-700 font-sans font-medium mb-4">Servicio tecnico para tu IMac</p>
                                <a href="/serviceimac" class="font-montserrat font-bold text-sky-600 hover:text-sky-700">Mas información</a>
                            </div>
                    </div>
                </div>
                    <div class="bg-white rounded-lg drop-shadow-lg overflow-hidden hover:scale-custom2 transition-transform duration-300">
                        
                        <div class="flex flex-col lg:flex-row md:h-auto items-center">

                            <div class="w-full flex items-center justify-center">
                                    <div class="aspect-[4/3] w-full ">
                                        <Image
                                        src={imgServiciosm.imagenMagsafe}
                                        alt={imgServiciosm.altMagsafe}
                                        width={400} height={300}
                                        class="w-full h-full object-contain p-4"
                                        />
                                    </div>
                            </div>
                            <div class="w-full p-6 flex flex-col items-center text-center md:justify-center md:items-start md:text-left">
                                <p class="text-xl font-apple font-semibold text-blackep mb-2">Apple MagSafe</p>
                                <p class="text-gray-700 font-sans font-medium mb-4">Servicio tecnico para tu Fuente Magsafe</p>
                                <a href="/servicemagsafe" class="font-montserrat font-bold text-sky-600 hover:text-sky-700">Mas información</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    <section id="help-bar" class="flex justify-center section">
        <a href='/formservice' id="experthelp">

            <div class="atention-guys bg-custom-atention-guys-img flex justify-center items-end bg-blk-gray-light cursor-pointer hover:drop-shadow-custom hover:scale-custom2 hover:bg-white/10 transition-all duration-300 transform rounded-2xl btn-ghost">
                <div class="flex flex-col text-center mb-12 ">
                    <p class="text-3xl md:text-4xl text-mainbrand-light dark:text-mainbrand-light font-apple font-bold">Contactanos para resolver tus dudas</p>
                    <p class="text-mainbrand-light dark:text-mainbrand-light font-apple font-bold text-auto md:text-2xl transition">Sin largos tiempos de espera</p>
                </div>
            </div>
        </a>
    </section>
    </div>
</Layout>

<script>
    import { observers, observerBounce, observerScrollIndicator } from "@/script/observer";

    document.addEventListener('astro:page-load', () => {
        //Scroll Automatico a la primera seccion
        const firstSection = document.querySelector('#brand_principal_title');
        if(firstSection) {
            firstSection.scrollIntoView({
                behavior: 'smooth',
                block: 'start',
            });
        }

        //  setTimeout(() => {
        //     observers();
        //     observerBounce('imagen-p','brand_principal_title', 'animate-bounce');
        //     observerScrollIndicator();
        // }, 100);
        
        // Usamos requestAnimationFrame para asegurarnos de que el scroll haya terminado
        // antes de inicializar las animaciones de GSAP.
        // Esto ayuda a evitar que GSAP mida elementos mientras la página aún se está moviendo.
        requestAnimationFrame(() => {
            // Un segundo frame para mayor seguridad en algunos navegadores
            requestAnimationFrame(() => {
                observers();
                observerBounce('imagen-p','brand_principal_title', 'animate-bounce');
                observerScrollIndicator();
            });
        });
    })

    document.getElementById('experthelp')?.addEventListener('click', function(e) {
        e.preventDefault();
        window.history.pushState({}, '', '/expert-help');
        window.location.href = '/formservice';
        
    })
</script>

<style>
    .img-class{
        filter: drop-shadow(5px 5px 8px #000000);
    }
</style>