---
import { linksData } from "@/data/layout/links";
import Link from "./Link.astro";
import { Icon } from "astro-icon/components";
import UserDropdown from "./UserMenu.astro";
const cl = console.log.bind(console)

interface Props {
  user?: {
    username: string;
    isAdmin: boolean;
  } | null
};


const {user} = Astro.props
---

<nav  id="navbar" class="navbar z-20 flex justify-between items-center  sticky top-0 transition-transform duration-300 ease-in-out transform-gpu bg-gray-esp shrink-0 py-1 px-4">
    <div class="flex items-center custom:w-56">
      <a href="/home" class="hover:animate-spin-reverse animate-spin-scale" title="Home" aria-label="logo tienda">
        <Icon class="text-sky-600 custom:text-4xl text-4xl animate-spin-slow hover:animate-none origin-center drop-shadow-xl " name="lucide:atom" title="logo tienda"/>
      </a>
    </div>

    <!-- Menu Hamburger for mobile -->
     <button id="mobile-menu-button" class="lg:hidden group p-2 rounded-lg hover:bg-sky-100/20 transition-all duration-300">
      <Icon name="lucide:menu" class="w-6 h-6 text-sky-600 transform group-hover:rotate-180 group-hover:scale-custom3 transition-all duration-300 drop-shadow-lg"/>
     </button>

     <!-- Side Menu for mobile -->
     <div id="mobile-menu" class="lg:hidden fixed top-0 right-0 h-screen w-64 bg-gray-esp/30 backdrop-blur-md transform translate-x-full transition-transform duration-300 ease-in-out z-30 border-l border-sky-200/20" >
      <div class="p-4 h-full w-full overflow-y-auto">
        <button id="close-menu" class="absolute top-4 right-4">
          <Icon name="lucide:x" class="w-6 h-6 text-sky-600"/>
        </button>
        <div class="flex flex-col space-y-4 mt-16 items-center">
          {linksData.map(link => {
            
            const showLink = !link.requiresAuth || user;
            const finalUrl = (link.adminOnly && user && !user.isAdmin)
            ? link.userRedirectUrl
            : link.url;
        
            return showLink && (
              <div class=" transform hover:translate-x-2 transition-transform duration-200">
                <Link title={link.title} url={finalUrl} />
              </div>
            )
           })}
           <UserDropdown user={user} variant="mobile"/>
        </div>
      </div>
     </div>

      <!-- Menu desktop -->
       <div class="hidden lg:flex items-center space-x-6 z-50">
        {linksData.map(link => {
          const showLink = !link.requiresAuth || user;
          const finalUrl = (link.adminOnly && user && !user.isAdmin)
          ? link.userRedirectUrl
          : link.url;
      
          return showLink && (
            <div class="relative group">
              <div class="absolute -bottom-1 left-0 w-0 h-0.5 bg-gradient-to-r from-sky-400 to-sky-600 group-hover:w-full transition-all duration-200">
              </div>
              <Link title={link.title} url={finalUrl} class="hover:text-sky-600 transition-colors duration-200"/>
            </div>
          )
         })}
         <div class="relative">
           <UserDropdown user={user} variant="desktop"/>
         </div>
       </div>



        <div  class="flex flex-row items-center gap-x-8 font-display font-bold text-sky-500 filter drop-shadow-lg hyphens-auto hover:cursor-none">
          {
            user ?
            `Hola: ${user.username} ✋`
            :
            `Hola: anonimo`
          }
        </div>
   
</nav>

<script>

  import { initNavbarGSAP } from './initNavbarGSAP';

		document.addEventListener("astro:page-load", () => {
      initNavbarGSAP();
		})  

	</script>
