---
import DropDownbutton from "./DropDownbutton.astro";
import Logout from "./Logout.astro";


const { user, variant = 'desktop' } = Astro.props
const buttonId = `user-menu-${variant}`;
const dropdownId = `user-dropdown-${variant}`;


---

<!-- Front User Menu Icon -->
<div  class="relative inline-block z-20">
    <div>
        <button type="button" class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 border border-gray-200 rounded-md shadow-sm hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400 " 
        id={buttonId}
        aria-haspopup="true" aria-expanded="false">
            <!--Icono usuario-->
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
              </svg>
        </button>
    </div>

    <div  class="absolute top-full w-56  mt-2 text-blackep  bg-gray-400/75 dark:bg-blk-gray-dark/75 divide-y divide-gray-100 dark:divide-gray-600 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 hidden z-50" role="menu" aria-orientation="vertical" aria-labelledby="user-menu" id={dropdownId}>
        {
            user ? (
                <div class="px-4 py-3" role="none">
                    <p class="text-sm text-gray-200 text-pretty font-bold truncate" role="none">
                        Hola: {user.username} 👋
                    </p>
                </div>
                ) : (
                    <div class="py-1"  role="none">
                        <DropDownbutton href="/signup" role="menuitem">
                            Crear Cuenta
                        </DropDownbutton>
                    
                        <DropDownbutton  href="/signin" role="menuitem">
                            Iniciar Sesión
                        </DropDownbutton>
                    </div>

            
                    <div class="py-1" role="none">
                        <DropDownbutton class="rounded-none" href="/api/google" role="menuitem">
                            Iniciar Sesión con Google
                        </DropDownbutton>
                    </div>
                )
        }

        {user && (
            <div>
                <Logout role="menuitem"/>
            </div>
        )}
    </div>

</div>

<script >
    // import { initUserDropdown, destroyUserDropdown } from '@/script/inituserdropdown.js';
    import { initUserDropdownGSAP, destroyUserDropdownGSAP } from './initUserDropdownGSAP';
    import { initLockTimer } from '@/script/lockTimer';

    document.addEventListener('astro:page-load', () => {
        destroyUserDropdownGSAP();//Limpiar el dropdown
        initUserDropdownGSAP();//Inicializar el dropdown
        initLockTimer();
    });

    window.addEventListener('DOMContentLoaded', () => {
        destroyUserDropdownGSAP();
        initUserDropdownGSAP();
        initLockTimer();
    });
</script>

   <!-- <div class="py-1" role="none">
                        <DropDownbutton class="rounded-none" href="/api/github" role="menuitem">
                            Iniciar Sesión con Github
                        </DropDownbutton>
                    </div> -->