---
import Header from '@/components/Header.astro';
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';
import WhatsAppButton from '@/components/WhatsAppButton.astro';
import  {ClientRouter}   from 'astro:transitions'; // lo que era ViewTransition ahora se llama ClientRouter
import '@fontsource-variable/montserrat/wght.css';// Supports weights 100-900
import '@fontsource/roboto/700.css';//Supports 100-300-400-500-700-900-italic
import '@fontsource/roboto/400.css';//Supports 100-300-400


interface Props {
	title: string;
	description?: string;
	keywords?: string;
	image?: string;
	url?: string;
	user?: {
		username: string;
		isAdmin: boolean;
	} | null; //si no lo uso en todos los layouts se coloca ?
	showWhatsAppButton?: boolean;
}


const { title = 'OnThePointService - Servicio Tecnico', 
		description = 'Reparacion de dispositivos electronicos.',
		keywords = 'reparacion de dispositivos de telefonia movil y portatiles laptops, Servicio Tecnico, Apple, iPhone, Mac, iPad, Multi marca, Samsung, Xiaomi, Tcl, Android"',
		image = "https://www.onthepointservice.com/img/ONTHEPOINTSERVICEPNG.png",
		url = "https://onthepointservice.com",
		user = Astro.locals.user,
		showWhatsAppButton = true } 
		= Astro.props;


---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		
		<meta name="viewport" content="width=device-width" initiall-scale="1.0" />
		<meta name={description} content={description} />
		<meta name={keywords} content={keywords} />
		<meta name="google-adsense-account" content="ca-pub-1952463626478297">
		<link rel="shortcut icon" href="https://www.onthepointservice.com/img/ONTHEPOINTSERVICEPNG.png" type="image/png">
		<link rel="canonical" href="https://www.onthepointservice.com/"/>
		<link rel="icon" type="image/png" href="https://www.onthepointservice.com/img/ONTHEPOINTSERVICEPNG.png" sizes="16x16" />
		<link rel="preconnect" href="https://fonts.cdnfonts.com" as="font" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/sf-pro-display" >
		<link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Open Graph (Para Faceebook, Twitter, Instagram, Whastapp etc.) -->
		 <meta property="og:type" content="website" />
		 <meta property="og:title" content={title} />
		 <meta property="og:description" content={description} />
		 <meta property="og:image" content={image} />
		 <meta property="og:url" content={url} />

		 <!-- Twitter -->
		  <meta name="twitter:card" content="summary_large_image" />
		  <meta name="twitter:title" content={title} />
		  <meta name="twitter:description" content={description} />
		  <meta name="twitter:image" content={image} />
		  <ClientRouter />
		  <!-- JSON-LD para google -->
		<script is:inline type="application/ld+json">
			{JSON.stringify({
				"@context": "https://schema.org",
				"@type": "WebPage",
				"url": url,
				"name": title,
				"description": description,
				"image": image,
				"publisher": {
					"@type": "Organization",
					"name": "OnthePointService",
				}
			}, null, 2)}
		</script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17275138138"></script>
        <script src="../script/gtag-init.js"></script>
		<script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>	
	</head>
	<body >
		<div class:list={["bg-gradient-to-b",
				"from-[#FEFFFE] via-[#F8F8F8] to-[#F5F5F5]", //FEFFFE COLOR APPLE (Gris)
				"dark:from-blk-gray-dark dark:via-blk-dark dark:to-blk-gray-light",
				]}>
			<Navbar user={user}/>
			<Header title={title} description={description} user={user}/>
			<main >
				<slot />
			</main>
			<Footer/>
			{showWhatsAppButton && <WhatsAppButton />}
		</div>
	</body>
</html>


<style is:global>
 @import '../styles/global.css';
</style>
